<div class="container">

  <div class="row">
    <h1>Testing Levels</h1>
    <p class="lead">
      The levels established in this application are based on Bloom's Taxonomy, a foundational and essential method for classifying learning objectives. Learners most commonly move through the levels from lower to higher order knowledge and ability.
    </p>
    <p class="lead">
      The testing protocol is based on <a href="http://en.wikipedia.org/wiki/Computerized_adaptive_testing">Computerized Adaptive Testing</a> or CAT protocols. <blockquote>CAT successively selects questions for the purpose of maximizing the precision of the exam based on what is known about the examinee from previous questions.<br> <small><a href="http://en.wikipedia.org/wiki/Computerized_adaptive_testing">Wikipedia Citation</a> Weiss, D. J., & Kingsbury, G. G. (1984). Application of computerized adaptive testing to educational problems. Journal of Educational Measurement.</small></blockquote>
    </p>
  </div>
  <hr>

   <div class="row">
     <div class="col-md-7">
       <img style="margin-left: -20px;" src="/images/blooms-taxonomy-l3.png"></img>
     </div>
     <div class="col-md-5">
       <h2>Level 3</h2>
       <p class="lead">
         At this level learners are ready to synthesize, analyze, theirs and others' code. They are starting to create more complex solutions to real-world problems.
       </p>
       <p>
         The emphasis here is on analyzing code challenges and trying different implementations to develop more complex, efficient, and durable solutions.
       </p>
       <p>
         The target audience for the test at this level is junior programmers who are between three and six months of employment.
       </p>
     </div>
   </div>
  <hr>

   <div class="row">
     <div class="col-md-7">
       <img style="margin-left: 50px;" src="/images/blooms-taxonomy-l2.png"></img>
     </div>
     <div class="col-md-5">
       <h2>Level 2</h2>
       <p class="lead">
         At this level learners are beginning to synthesize elements of code and apply concepts to very simple real-world examples.
       </p>
       <p>
         The emphasis here is on correctly applying code to solve basic problems and use combinations of code elements to create more complex and elegant solutions.
       </p>
       <p>
         The target audience for the test at this level is recent code school graduates and junior programmers who are within the first three months of employment.
       </p>
     </div>
   </div>
  <hr>

   <div class="row">
     <div class="col-md-7">
       <img style="margin-left: 100px;" src="/images/blooms-taxonomy-l1.png"></img>
     </div>
     <div class="col-md-5">
       <h2>Level 1</h2>
       <p class="lead">
         At this level, learners are establishing the basic knowledge required to write code.
       </p>
       <p>
         The emphasis here is on code recognitions, syntax memorization, and basic use cases for different elements of code.
       </p>
       <p>
         The target audience for the test at this level is code school students at approximately the 1/2-way point in their program and intermediate level learners.
       </p>
     </div>
   </div>
  <hr>
</div> <!-- /container -->


