<div class="container">

  <div class="row">
    <div>
      <h4>Question Type: Code</h4>
      <p class="lead">
        Enter the correct code elements to complete the statement below.
      </p>
    </div>
  </div>

  <div class="row">
    <div  class="col-md-8">
        <h5>Enter your answer here:</h5>
      <pre>
        <code>
            <form action='' method='post' style='width:400px;'>
              rain <input size='1' /> true

          if rain == true
            puts "Bring your Umbrella"
            <input size='4' />
            puts "Don't bring your umbrella"
          end
          </form>
        </code>
      </pre>
      </div>
      <div>
        <h5>(If needed) Additional Files:</h5>
        <div  class="col-md-4 well well-lg">
          <p>
            <button type="button" class="btn btn-lg btn-info">Download File(s) for this question</button>
          </p>
          <p>
            <strong>Test Question Feedback and Error Reporting:</strong>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox1" value="option1"> There is an error
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox2" value="option2"> This is confusing
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" id="inlineCheckbox3" value="option3"> Other
            </label>
          </p>
            <textarea class="form-control" rows="3" placeholder="Comments:"></textarea>
        </div>
        <button type="button" class="btn btn-lg btn-success pull-right">Submit Your Answer</button>
      </div>
    </div>
    <hr>

    <div class="row">
      <div>
        <h4>Question Type: Matching</h4>
        <p class="lead">
          Match the indexing syntax to the correct output for the following array:
        </p>
          <pre class="col-md-6"><code>a = ["cedar", "oak", "pine", "redwood", "maple", "birch"]</code></pre>
      </div>
    </div>
  <div class="row">
    <div class="well well-lg" style="height: 25em">
    <button type="button" class="btn btn-default pull-right" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
      See an Example
      <!-- <img src="/images/matching-example.png"></img> -->
    </button>
      <div class="col-md-3 lead">
        Indexing syntax
        <dl class="dl-horizontal" style="margin-left: -120px;">
          <dt>A:</dt>
          <dd style="margin-bottom: 10px;">a[2] <input type="text" class="form-inline" style="width: 80px;" placeholder="Enter #"></dd>
          <dt>B:</dt>
          <dd style="margin-bottom: 10px;">a[-3] <input type="text" class="form-inline" style="width: 80px;" placeholder="Enter #"></dd>
          <dt>C:</dt>
          <dd style="margin-bottom: 10px;">a[1..3] <input type="text" class="form-inline" style="width: 80px;" placeholder="Enter #"></dd>
          <dt>D:</dt>
          <dd style="margin-bottom: 10px;">a[1...3] <input type="text" class="form-inline" style="width: 80px;" placeholder="Enter #"></dd>
          <dt>E:</dt>
          <dd style="margin-bottom: 10px;">a[-3..-1] <input type="text" class="form-inline" style="width: 80px;" placeholder="Enter #"></dd>
          <dt>F:</dt>
          <dd style="margin-bottom: 10px;">a[4..-2] <input type="text" class="form-inline" style="width: 80px;" placeholder="Enter #"></dd>
        </dl>
      </div>
      <div class="col-md-4 lead">
        Output
        <dl class="dl-horizontal" style="margin-left: -120px;">
          <dt>1: </dt>
          <dd style="margin-bottom: 17px;">"pine"</dd>
          <dt>2: </dt>
          <dd style="margin-bottom: 17px;">"redwood"</dd>
          <dt>3: </dt>
          <dd style="margin-bottom: 17px;">"oak", "pine", "redwood"</dd>
          <dt>4: </dt>
          <dd style="margin-bottom: 17px;">"oak", "pine"</dd>
          <dt>5: </dt>
          <dd style="margin-bottom: 17px;">"redwood", "maple", "birch"</dd>
          <dt>6: </dt>
          <dd style="margin-bottom: 17px;">"redwood", "maple"</dd>
        </dl>
      </div>
    </div>
  </div>
    <div class="row">
      <div  class="col-md-4 well well-lg pull-right">
        <p>
          <strong>Test Question Feedback and Error Reporting:</strong>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1"> There is an error
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox2" value="option2"> This is confusing
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox3" value="option3"> Other
          </label>
        </p>
          <textarea class="form-control" rows="3" placeholder="Comments:"></textarea>
      </div>
    </div>
    <div class="row">
      <button type="button" class="btn btn-lg btn-success pull-right">Submit Your Answer</button>
    </div>
    <hr>

      <div class="row">
        <div>
          <h4>Question Type: Ordered List</h4>
          <p class="lead">
            Put the items in the list in the correct order.
          </p>
        </div>
      </div>
    <div class="row">
      <div class="well well-lg" style="height: 25em">
        <button type="button" class="btn btn-default pull-right" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
          See an Example
          <!-- <img src="/images/matching-example.png"></img> -->
        </button>
        <div class="col-md-3 lead">
          List Order
          <dl class="dl-horizontal" style="margin-left: -120px;">
            <dt>A:</dt>
            <dd style="margin-bottom: 10px;"><input type="text" class="form-inline" style="width: 130px;" placeholder="Enter # order"></dd>
            <dt>B:</dt>
            <dd style="margin-bottom: 10px;"><input type="text" class="form-inline" style="width: 130px;" placeholder="Enter # order"></dd>
            <dt>C:</dt>
            <dd style="margin-bottom: 10px;"><input type="text" class="form-inline" style="width: 130px;" placeholder="Enter # order"></dd>
            <dt>D:</dt>
            <dd style="margin-bottom: 10px;"><input type="text" class="form-inline" style="width: 130px;" placeholder="Enter # order"></dd>
            <dt>E:</dt>
            <dd style="margin-bottom: 10px;"><input type="text" class="form-inline" style="width: 130px;" placeholder="Enter # order"></dd>
            <dt>F:</dt>
            <dd style="margin-bottom: 10px;"><input type="text" class="form-inline" style="width: 130px;" placeholder="Enter # order"></dd>
          </dl>
        </div>

        <div class="col-md-4 lead">
          Items
          <dl class="dl-horizontal" style="margin-left: -120px;">
            <dt>A: </dt>
            <dd style="margin-bottom: 17px;">item</dd>
            <dt>B: </dt>
            <dd style="margin-bottom: 17px;">item</dd>
            <dt>C: </dt>
            <dd style="margin-bottom: 17px;">item</dd>
            <dt>D: </dt>
            <dd style="margin-bottom: 17px;">item</dd>
            <dt>E: </dt>
            <dd style="margin-bottom: 17px;">item</dd>
            <dt>F: </dt>
            <dd style="margin-bottom: 17px;">item</dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="row">
      <div  class="col-md-4 well well-lg pull-right">
        <p>
          <strong>Test Question Feedback and Error Reporting:</strong>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1"> There is an error
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox2" value="option2"> This is confusing
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox3" value="option3"> Other
          </label>
        </p>
          <textarea class="form-control" rows="3" placeholder="Comments:"></textarea>
      </div>
    </div>
    <div class="row">
      <button type="button" class="btn btn-lg btn-success pull-right">Submit Your Answer</button>
    </div>
    <hr>



  <div class="row">
    <div>
      <h4>Question Type: Multiple Choice</h4>
      <p class="lead">
        Select the option below that best fits a common use case for regular expressions.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="well well-lg lead">
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
          Option one
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
          Option two
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
          Option three
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4" disabled>
          Option four
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div  class="col-md-4 well well-lg pull-right">
      <p>
        <strong>Test Question Feedback and Error Reporting:</strong>
        <label class="checkbox-inline">
          <input type="checkbox" id="inlineCheckbox1" value="option1"> There is an error
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" id="inlineCheckbox2" value="option2"> This is confusing
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" id="inlineCheckbox3" value="option3"> Other
        </label>
      </p>
        <textarea class="form-control" rows="3" placeholder="Comments:"></textarea>
    </div>
  </div>
  <div class="row">
    <button type="button" class="btn btn-lg btn-success pull-right">Submit Your Answer</button>
  </div>
  <hr>


</div> <!-- /container -->
<hr>
  <script src="/testing-app/js/jquery.js"></script>
  <script src="/testing-app/js/bootstrap.js"></script>
